* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 600px;
    background-color: #e5e5e5;
}


/*------header------*/

header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    top: 0;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    font-size: 75px;
    height: 53px;
}

main {
    margin-top: 26px;
    margin-bottom: 84px;
}

.messageChat {
    min-height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    margin-bottom: 4px;
    line-height: 16px;
    word-break: break-all;
}

span {
    font-size: 14px;
}

strong {
    font-weight: 700;
}

small {
    color: #aaaaaa;
}

.enterExit {
    background-color: #dcdcdc;
}

.private {
    background-color: #ffdede;
}

footer {
    padding: 0 17px;
    width: 100%;
    max-width: 600px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

footer input {
    width: 100%;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

footer input:focus {
    outline: none;
}

footer ::placeholder {
    color: #000;
    font-style: italic;
}

footer ion-icon {
    font-size: 26px;
    cursor: pointer;
}

.inputWindow {
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWindow img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.inputWindow input {
    width: 261px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 94px 0 15px 0;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}

::placeholder {
    color: #aeaeae;
}

button {
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border: none;
    color: #696969;
    border-radius: 9px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.shadowMenu {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}

.mainMenu {
    width: 259px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    overflow-y: scroll;
}

.iconeMenu {
    display: flex;
    align-items: center;
}

.choose {
    margin-left: 18px;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 190px;
}

.choose ion-icon {
    font-size: 25px;
    margin-right: 7px;
}

.choose p {
    word-break: break-all;
}

h3 {
    font-weight: 700;
    text-align: center;
}

.users h3 {
    padding: 26px 45px;
}

.visibilityMenu h3 {
    padding: 20px 45px;
}

.visible {
    margin-left: 20px;
}

.visible ion-icon {
    font-size: 22px;
}

.check {
    right: 7px;
    color: #28bb25;
    position: absolute;
    display: none;
}

.selected {
    display: block;
}

.inputWindow .loading {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.inputWindow span {
    font-size: 20px;
}

footer span {
    color: #717171;
    font-weight: 300;
}

.sendReserved {
    width: 100%;
    margin-right: 10px;
    word-break: break-all
}

.marginBottom {
    margin-bottom: 5px;
}